<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:aop="http://www.springframework.org/schema/aop"
	 xmlns:tx="http://www.springframework.org/schema/tx"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/aop
		 http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
  
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  	<property name="driverClassName" value="${jdbc}"/>
  	<property name="url" value="${jdbc.url}"/>
  	<property name="username" value="${jdbc.username}"/>
  	<property name="password" value="${jdbc.password}"/>
  </bean>
  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
  		<property name="dataSource" ref="dataSource"/>
  		<property name="mappingLocations">
  			<list>
  				<value>classpath:hbm/Classify.hbm.xml</value>
				<value>classpath:hbm/Evaluates.hbm.xml</value>
				<value>classpath:hbm/Goods.hbm.xml</value>
				<value>classpath:hbm/Notes.hbm.xml</value>
				<value>classpath:hbm/Notice.hbm.xml</value>
				<value>classpath:hbm/Orders.hbm.xml</value>
				<value>classpath:hbm/User.hbm.xml</value>

			</list>
  		</property>
  		<property name="hibernateProperties">
  			<props>
  				<prop key="hbm2ddl.auto">create</prop>
  				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
  				<prop key="hibernate.show_sql">true</prop>
  				<prop key="hibernate.format_sql">true</prop>
  			</props>
  		</property>
  </bean>
	
	<!-- 配置事务管理器 -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>	
	
	<!-- 配置事物的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="select*" read-only="true"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<!-- 配置事务管理的对象 -->
	<aop:config>
		<aop:pointcut id="allServiceMethod" expression="execution(* com.groupfour.service.*.*(..))"/>
		<aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice"/>
	</aop:config>
</beans>